* {
  margin: 0;
  border: 0;
  padding: 0; }

.controls {
  display: flex;
  justify-content: center; }

.controls-button-new,
.controls-button-request,
.controls-button-stop {
  padding: 10px;
  border-radius: 57px;
  background-color: green;
  color: #000;
  margin: 0 10px;
  font-size: 13px;
  outline: none;
  cursor: pointer; }

.controls-button-request {
  background-color: yellow; }

.controls-button-stop {
  background-color: red; }

.user-cards,
.machine-cards {
  display: flex;
  justify-content: center;
  background-color: aqua;
  padding: 20px; }

.user-cards-img,
.machine-cards-img {
  width: 10%;
  display: block;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(224, 224, 224, 0.71);
  -moz-box-shadow: -2px 2px 5px 0px rgba(224, 224, 224, 0.71);
  box-shadow: -2px 2px 5px 0px rgba(224, 224, 224, 0.71);
  margin-left: -132px; }
